<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">
			{{ range where .Site.Sections "Title" "Contact"}}
				{{ range .Params.contact_entries }}
				<div>
					<h3 class="f4 b lh-title mb1 primary">{{ .heading }}</h3>
					<p class="mb3">
						{{ .text }}
					</p>
				</div>
				{{ end }}
			{{ end }}

			<div>
				<h3 class="f4 b lh-title mb2 primary">INQUIRIES?</h3>
				<p class="mb3">
					CALL <br>

					713-212-0300 <br>
					or EMAIL <br>

					sales@woodysfurs.com
				</p>
				
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>