{{ define "main" }}
<main>
    <div class="ph3 center">
        <h1 class="f1 b lh-title mb3 tc mt 3">Products</h2>
            <div class="w-100 flex-ns mhn1-ns flex-wrap mb3">

                {{ range .Data.Terms.ByCount }}
                <div class="ph1-ns w-25-ns flex">
                    <a href="{{ .Page.Permalink }}"
                        class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100 bg-black-15-hover transition-200">
                        <h2 class="f2 b lh-title mb1 primary tc">{{ .Page.Title }} - ({{ .Count }})</h2>
                        {{ range first 1 .Pages}}
                        <img src="{{ index .Params.image 0 }}" class="tc center" />
                        {{ end }}

                    </a>
                </div>
                {{ end }}

            </div>
    </div>

    </div>
</main>
{{ end }}